<ul class="list-group">
  <li *ngFor="
      let character of characterList;
      let i=index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
    "
    class="list-group-item d-flex justify-content-between aling-item-center"
    [ngClass]="{
      'list-group-item-danger':isFirst,
       'list-group-item-dark':isEven
    }"
    >
    <div>
      <span class="text-primary">{{i+1}}.</span>
      <span>{{character.name}}</span> -
      <strong>power :  {{character.power}}</strong>
    </div>

    <button class="btn btn-danger" (click)="onDeleteCharacterById(character)">X</button>
  </li>
</ul>
